*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navlist{
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    /* margin-left: 15px;
    margin-right: 15px; */
    align-items: center;
    width: 100%;
    padding: 15px;
}
.container{
    height: 100vh;
    width: 100wh;
    overflow-x: none;
    background-color: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,242,244,0.9582089552238806) 63%, rgba(34,193,226,1) 100%);

}
nav{
    width: 100%;
}
.navContainer{
    width: 100vw;
    background-color: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 59%, rgba(34,193,226,1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
#navlogo{
    font-size: 2.5rem;
    color: aliceblue;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}
#navItems{
    display: flex;
    gap: 40px;
}
.footerBox{
    background-color: rgb(2,0,36);
    background-image: linear-gradient(160deg, rgb(158, 156, 201) 0%, rgb(120, 125, 127) 59%, rgba(34,193,226,1) 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
    
}
.footerBox p {
    color: azure;
    font-size: 2rem;

}
.contentBox{
    width: 70%;
    margin: auto;
    border: 1px solid white;
}