.box{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box:hover{
    /* transform: rotate(45deg);
    transform: scale(2);
    transform: scale(0.5);
    transform: rotate(-90deg); */
    /* transform: skew(45deg); */
    transform: translate(0px,100px);

}

p{
    font-size: 36px;
}