*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0,0,0,0.37)

}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: 230px;
    left: 85px;
    -webkit-text-stroke: 1px #95c119;
    z-index: -1;

    }
#page1 h2{
    font-size: 30px;
    font-weight: 900;
}
#page1 p{
    font-size: 15px;
    font-weight: 500;
    width: 40%;

}